CATALOG_URL=http://catalogue:8000
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_TOPIC_BASE=smartplant/sensors
PUBLISH_INTERVAL=10
REGISTER_INTERVAL=60
DEVICE_TYPE=sensor_node

TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN