.env
telegram_bot/auth.json
thingspeak_adapter/config.json
.DS_Store
__pycache__/
*.pyc
mosquitto/data/
mosquitto/log/
# Node-RED runtime
nodered/data/node_modules/
nodered/data/.config.runtime.json
nodered/data/*.log

# Credentials (important security)
nodered/data/flows_cred.json

# Optional: ignore everything except flows
# nodered/data/*
# !nodered/data/flows.json